*{
    color: rgb(147, 135, 135) !important;
}
.navbar{
    background-color: #2c0e23;
    
}
.navbar-brand img {
    height: 50px !important;
}
header img{
    width: 100%;
}
header{
    background-color:#F9ECCC;
}
